<h3>Bereken de verwachte waarde van uw pensioen</h3>

<div class="form-floating w-50">
  <form>
    <div class="form-group">
      <label for="pensioenleeftijdFormInput">Gewenste pensioenleeftijd</label>
      <input #pensioenleeftijdFormInput type="number" class="form-control" id="pensioenleeftijdFormInput" aria-describedby="pensioenleeftijdFormInputHelp"
             [min]="leeftijd"
             max="75"
             [value]="pensioenleeftijd">
      <small id="pensioenleeftijdFormInputHelp" class="form-text text-muted">Vul hier uw leeftijd in waarop u met pensioen zou willen gaan.</small>
    </div>
    <button class="btn btn-primary" type="button" (click)="berekenPensioenwaarde(pensioenleeftijdFormInput.value)">Bereken</button>
  </form>
</div>

<div id="resultaat" class="form-floating w-100" *ngIf="waardeberekening">
  <p>Bij een pensioenleeftijd van <strong>{{ waardeberekening.pensioenleeftijd }}</strong>
    is de te verwachte waarde van uw pensioenpot <strong>{{ waardeberekening.waarde | currency: 'EUR' }}</strong></p>
</div>
