
<div class="form-floating w-50">
  <select name="deelnemers" id="deelnemers" class="form-select"
          #deelnemersDropdown (change)="onSelectedDeelnemer(deelnemersDropdown.value)" >
    <option></option>
    <option *ngFor="let deelnemer of deelnemers" value="{{ deelnemer.id}}">
      {{ deelnemer.naam }} - {{ deelnemer.email }}
    </option>
  </select>
  <label for="deelnemers">
    Selecteer een deelnemer:
  </label>
</div>
<hr>

<div class="row" *ngIf="selectedDeelnemer">
  <app-deelnemer-details [deelnemerID]="selectedDeelnemer.id"></app-deelnemer-details>

  <app-berekening [deelnemerID]="selectedDeelnemer.id"></app-berekening>
</div>
